[run]
omit = *site-packages*, octoxlabs/constants/paths.py

[report]
fail_under = 80
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    __str__
    hr_*
    pass

[paths]
source = octoxlabs
